[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CortSineScore"]
	path = CortSineScore
	url = https://github.com/simone-anza/cortsinescore
